<div  class="slides_control">
  <div>
	<carousel>
        <slide ng-repeat="each in lancamentos" active="each.active">
          <img class="imagemLancamento" ng-src="{{each.Capa}}">
          <div class="carousel-caption">
            <h4><a href="#!/livro/{{each.Isbn}}">{{each.Titulo}}</a></h4>
          </div>
        </slide>
      </carousel>
  </div>
</div>

<div ng-repeat="each in livros" class="col-md-4">
	<div class="thumbnail">
		<img ng-src="{{ each.Capa }}">
		<p class="title"><a href="#!/livro/{{each.Isbn}}">{{ each.Titulo }}</a></p>
		<p class="title">{{ each.Genero }}</p>
		<p class="date">{{ each.NomeAutor }}</p>
	</div>
</div>

<div class="nav-pag">
  <button type="button" ng-click="previous()" class="btn previous"><< Previous</button>
  <button type="button" ng-click="next()" class="btn btn-success next">Next >></button>
</div>