* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 25vh;
    font-size: 0;
}
.bloco {
    font-size: initial;
    height: 100%;
    display: inline-block;
    border: 2px solid black;
}
#divItemUm {
    width: 25%;
    background-color: red;
}

#divItemDois {
    width: 50%;
    background-color: blue;
}
#divItemTres {
    width: 100%;
    background-color:purple;
}
#divItemQuatro {
    width: 10%;
    background-color:yellow;
}