*{
    box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  cursor: default;
}

.main {
  background-color: #f2f2f2;
}

h1 {
    color: #F65A5B;
    margin: 10px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

h2 {
    color: #39D1B4;
    font-size: 20px;
    margin: 1 0 40px 0;
    padding: 0px 0;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.thumbnail {
    border: 0px;
    position: relative;
    padding: 50px;
}

.imagemLancamento {
    margin:auto;
    height: 350px;
    width: 220px;
}

.slides_control {
    margin-bottom: 50px;
}

.thumbnail > img {
    margin-bottom: 30px;
    max-width: 80%;
    height: 200px;
    width: 150px;
}

.title {
  color: #444;
  margin: 0;
  font-size: 18px;
  font-weight: 800;
}

.date {
  color: #444;
  margin: 0;
  font-size: 18px;
  font-weight: 800;
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 200;
}

.price {
  background-color: #39D1B4;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 200;
  height: 80px;
  line-height: 80px;
  text-align: center;
  width: 80px;
  position: absolute;
  top: -0px;
  right: 20px;
}

.rating {
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 30px 0 -30px 20px;
}

.likes, .dislikes {
  background: #F65A5B;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  line-height: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 -30px 0 40px;
  text-align: center;
  font-weight: 200;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  transition: background 500ms;
}

.likes:hover, .dislikes:hover {
  color: #F65A5B;
  background: rgba(246, 90, 91, 0.25);
  transition: background 500ms;
}

a {
  color: #F65A5B !important;
  text-decoration: none !important;
}

.me, .paw {
  text-align: center;
  color: #F65A5B;
}

.grow {
  transition: all .5s ease-in-out;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}

.nav-pag {
  width: 100%;
}

.next {
  float: right;
}

.previous {
  float: left;
}