<div class="row">
    <div class="feed-container col-md-6 offset-md-3">
        <div class="card" id="card-post" ng-repeat="each in posts">
            <div class="post-header">
                <span class="post-img-header pull-left">
                    <img src="{{ each.usuario.imagemPerfil }}" alt="User Avatar" class="rounded-circle img-fluid">
                </span>
                <div class="pull-left post-username-header"><p><a href="#!/perfil/{{ each.id }}"><strong>{{ each.usuario.nome }}</strong></a></div>
            </div>
            <img class="card-img-top" src="{{ each.urlImagem }}" alt="Card image cap">
            <div class="reactions">
                <p><i ng-class="{ 'fa fa-heart-o fa-2x' : postCurtido(each) === false, 'fa fa-heart fa-2x liked': postCurtido(each) === true }" ng-click="likePost(each)" aria-hidden="true"></i></p>
                <p><i class="fa fa-comments-o fa-2x" aria-hidden="true"></i></p>
            </div>
            <div class="card-block">
                <h4 class="card-title">{{ each.titulo }}</h4>
            </div>
            <div class="container comentario">
                <div>
                    <p ng-repeat="comentario in each.comentarios"><strong>{{ comentario.usuario.nome }}</strong> {{ comentario.conteudo }}</p>
                </div>
            </div>
            <div class="form-group">
                <textarea ng-enter="adicionarComentario(comentario, each)" class="form-control" ng-model="comentario.conteudo" placeholder="Digite seu comentario" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>