        <div class="panel-heading">Trabalho AngularJS CRUD</div>
        <div class="panel-body">
          <p>CRUD Instrutores</p>
        </div> 
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Image</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Idade</th>
                    <th>Aula Ministrada</th>
                    <th>Esta Dando Aula</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="each in instrutores | orderBy: 'nome'" class="instrutor">
                    <td>{{ each.id }}</td>
                    <td><img src="{{each.image}}" class="img-rounded profile" alt="Cinque Terre" width="20" height="20"></td>
                    <td>{{ each.nome + " " +  each.sobrenome }}</td>
                    <td>{{ each.email }}</td>
                    <td>{{ each.idade }}</td>
                    <td>
                        <ul>
                            <li ng-repeat="aula in getAulasByIds(each.aula) | orderBy: 'nome'">{{ aula.nome }}</li>
                        </ul>
                    </td>
                    <td>{{ each.dandoAula | statusAula }}
                    <td><button class="glyphicon glyphicon-trash btn-danger" ng-click="removeInstrutor(each)"></button></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Adicionar Instrutor   <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <form novalidate name="cadastroInstrutor">
                        <div class="formHeader">
                            <h3>Novo Instrutor</h3>
                        </div>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3" ng-class="{ 'has-error': cadastroInstrutor.nomeInstrutor.$invalid, 'has-success': cadastroInstrutor.nomeInstrutor.$valid }">
                            <input type="text" name="nomeInstrutor" ng-minlength="3" ng-maxlength="20" ng-model="instrutor.nome" class="form-control info" placeholder="Nome Instrutor" aria-describedby="sizing-addon1" required />
                            <span class="input-group-addon" id="sizing-addon1">$</span>
                        </div>
                        <br>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3" ng-class="{ 'has-error': cadastroInstrutor.sobrenomeInstrutor.$invalid, 'has-success': cadastroInstrutor.sobrenomeInstrutor.$valid }">
                            <input type="text" name="sobrenomeInstrutor" ng-maxlength="20" ng-model="instrutor.sobrenome" class="form-control info" placeholder="Sobrenome Instrutor" aria-describedby="sizing-addon1" />
                            <span class="input-group-addon" id="sizing-addon1">$</span>
                        </div>
                        <br>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3" ng-class="{ 'has-error': cadastroInstrutor.idadeInstrutor.$invalid, 'has-success': cadastroInstrutor.idadeInstrutor.$valid }">
                            <input type="number" name="idadeInstrutor" ng-model="instrutor.idade" class="form-control info" placeholder="Idade" aria-describedby="sizing-addon1" required />
                            <span class="input-group-addon" id="sizing-addon1">$</span>
                        </div>
                        <br>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3" ng-class="{ 'has-error': cadastroInstrutor.emailInstrutor.$invalid, 'has-success': cadastroInstrutor.emailInstrutor.$valid }">
                            <input type="email" name="emailInstrutor" ng-model="instrutor.email" class="form-control info" placeholder="Email" aria-describedby="sizing-addon1" required />
                            <span class="input-group-addon" id="sizing-addon1">$</span>
                        </div>
                        <br>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3" ng-class="{ 'has-error': cadastroInstrutor.imagemInstrutor.$invalid, 'has-success': cadastroInstrutor.imagemInstrutor.$valid }">
                            <input type="text" name="imagemInstrutor" ng-model="instrutor.image" class="form-control info" placeholder="Link com Imagem de perfil" aria-describedby="sizing-addon1" />
                            <span class="input-group-addon" id="sizing-addon1">$</span>
                        </div>
                        <div class="checkbox col-md-6 col-md-offset-3">
                            <label><input type="checkbox" ng-model="instrutor.dandoAula">Instutor está dando aula</label>
                        </div>
                        <br>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3">
                            <label for="instrutor1">Selecione a aula ministrada pelo instrutor:</label>
                            <select multiple class="form-control" id="instrutor1" ng-model="instrutor.aula">
                                <option ng-repeat="each in aulas | orderBy: 'id'" value="{{ each.id }}">
                                    {{ each.nome }}
                                </option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" ng-class="{ 'btn btn-warning': cadastroInstrutor.$invalid, 'btn btn-success': cadastroInstrutor.$valid }" ng-disabled="cadastroInstrutor.$invalid" ng-click="saveInstrutor(instrutor)">Salvar Instrutor</button>
                        <hr>
                    </form>
                </li>
            </ul>
        </div>
        <hr>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Editar Instrutor   <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <form novalidate name="editarInstrutor">
                        <div class="formHeader">
                            <h3>Editar instrutor</h3>
                        </div>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3">
                            <label for="sel1">Selecione o Instrutor a alterar:</label>
                            <select class="form-control" id="sel1" ng-model="editInstrutor.id" required>
                                <option ng-repeat="each in instrutores | orderBy: 'nome'" value="{{ each.id }}">
                                    {{ each.nome + " " + each.sobrenome }}
                                </option>
                            </select>
                        </div>
                        <br>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3" ng-class="{ 'has-error': editarInstrutor.nomeInstrutor.$invalid, 'has-success': editarInstrutor.nomeInstrutor.$valid }">
                            <input type="text" name="nomeInstrutor" ng-minlength="3" ng-maxlength="20" ng-model="editInstrutor.nome" class="form-control info" placeholder="Nome Instrutor" aria-describedby="sizing-addon1" required />
                            <span class="input-group-addon" id="sizing-addon1">$</span>
                        </div>
                        <br>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3" ng-class="{ 'has-error': editarInstrutor.sobrenomeInstrutor.$invalid, 'has-success': editarInstrutor.sobrenomeInstrutor.$valid }">
                            <input type="text" name="sobrenomeInstrutor" ng-maxlength="20" ng-model="editInstrutor.sobrenome" class="form-control info" placeholder="Sobrenome Instrutor" aria-describedby="sizing-addon1" />
                            <span class="input-group-addon" id="sizing-addon1">$</span>
                        </div>
                        <br>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3" ng-class="{ 'has-error': editarInstrutor.idadeInstrutor.$invalid, 'has-success': editarInstrutor.idadeInstrutor.$valid }">
                            <input type="number" name="idadeInstrutor" ng-model="editInstrutor.idade" class="form-control info" placeholder="Idade" aria-describedby="sizing-addon1" required />
                            <span class="input-group-addon" id="sizing-addon1">$</span>
                        </div>
                        <br>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3" ng-class="{ 'has-error': editarInstrutor.emailInstrutor.$invalid, 'has-success': editarInstrutor.emailInstrutor.$valid }">
                            <input type="email" name="emailInstrutor" ng-model="editInstrutor.email" class="form-control info" placeholder="Email" aria-describedby="sizing-addon1" required />
                            <span class="input-group-addon" id="sizing-addon1">$</span>
                        </div>
                        <br>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3" ng-class="{ 'has-error': editarInstrutor.imagemInstrutor.$invalid, 'has-success': editarInstrutor.imagemInstrutor.$valid }">
                            <input type="text" name="imagemInstrutor" ng-model="editInstrutor.image" class="form-control info" placeholder="Link com Imagem de perfil" aria-describedby="sizing-addon1" />
                            <span class="input-group-addon" id="sizing-addon1">$</span>
                        </div>
                        <div class="checkbox col-md-6 col-md-offset-3">
                            <label><input type="checkbox" ng-model="editInstrutor.dandoAula">Instutor está dando aula</label>
                        </div>
                        <br>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3">
                            <label for="instrutor1">Selecione a aula ministrada pelo instrutor:</label>
                            <select multiple class="form-control" id="instrutor1" ng-model="editInstrutor.aula">
                                <option ng-repeat="each in aulas | orderBy: 'id'" value="{{ each.id }}">
                                    {{ each.nome }}
                                </option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" ng-class="{ 'btn btn-warning': editarInstrutor.$invalid, 'btn btn-success': editarInstrutor.$valid }" ng-disabled="editarInstrutor.$invalid" ng-click="updateInstrutor(editInstrutor)">Salvar Instrutor</button>
                        <hr>
                    </form>
                </li>
            </ul>
        </div>