<!-- multistep form -->
<form id="msform">
  <!-- progressbar -->
  <ul id="progressbar">
    <li ng-class="{ 'active': step >= 1 }">Selecionar Cliente</li>
    <li ng-class="{ 'active': step >= 2 }">Selecionar Tipo Imovel</li>
    <li ng-class="{ 'active': step >= 3 }">Selecionar Combo</li>
    <li ng-class="{ 'active': step >= 4 }">Selecionar Adicionais</li>
  </ul>
    <div ng-show="step == 1">
        <fieldset>
            <h2 class="fs-title">Escolha o cliente</h2>
            <h3 class="fs-subtitle">Adicione o cliente através do CPF</h3>
            <input type="text" name="cpf" placeholder="CPF" ng-model="cliente.Cpf"/>
            <input type="button" name="next" class="next action-button" value="Next" ng-click="adicionarCliente()"/>
        </fieldset>
    </div>
    <div ng-show="step == 2">
        <fieldset>
            <h2 class="fs-title">Escolha o Imovel</h2>
            <h3 class="fs-subtitle">Adicione o tipo do imóvel que o cliente deseja alugar</h3>
            <select required class="form-control" ng-model="tipoImovel">
                <option ng-repeat="each in imoveis | orderBy: 'Id'" value="{{ each }}">
                    {{ each.Tipo }}
                </option>
            </select>
            <input type="button" name="previous" class="previous action-button" value="Previous" ng-click="previous()"/>
            <input type="button" name="next" class="next action-button" value="Next" ng-click="selecionarImovel(tipoImovel)" />
        </fieldset>
    </div>
    <div ng-show="step == 3">
        <fieldset>
            <h2 class="fs-title">Escolha o combo</h2>
            <h3 class="fs-subtitle">Adicione o combo que o cliente deseja adquirir</h3>
            <select required class="form-control" ng-model="Combo">
                <option ng-repeat="each in combos | orderBy: 'Id'" value="{{ each }}">
                    {{ each.Nome }}
                </option>
            </select>
            <input type="button" name="previous" class="previous action-button" value="Previous" ng-click="previous()"/>
            <input type="submit" name="submit" class="submit action-button" value="Next" ng-click="selecionarCombo(Combo)"/>
        </fieldset>
    </div>
    <div ng-show="step == 4">
        <fieldset>
            <h2 class="fs-title">Escolha os Adicionais</h2>
            <h3 class="fs-subtitle">Adicione os adicionais que o cliente deseja adquirir</h3>
            <select multiple class="form-control" ng-model="AdicionaisSelecionados">
                <option ng-repeat="each in adicionais | orderBy: 'Id'" value="{{ each }}">
                    {{ each.Nome }}
                </option>
            </select>
            <input type="button" name="previous" class="previous action-button" value="Previous" ng-click="previous()"/>
            <input type="submit" name="submit" class="submit action-button" value="Next" ng-click="adicionarAdicionais(AdicionaisSelecionados)"/>
        </fieldset>
    </div>
    <div ng-show="step == 5">
        <fieldset>
            <h2 class="fs-title">Pedido</h2>
            <h3 class="fs-subtitle">Confirme os dados do pedido</h3>
            <input type="number" max="30" name="diasAluguel" placeholder="Quantidade de dias alugados" ng-model="diasAluguel"/>
            <input type="button" name="previous" class="previous action-button" value="Previous" ng-click="previous()"/>
            <input type="submit" name="submit" class="submit action-button" value="Confirmar Pedido" ng-click="confirmarPedido(diasAluguel)"/>
        </fieldset>
    </div>
</form>