body {
    margin: 0;
}

.silvioImg {
    position: absolute;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.silvioImg .rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 30px;
    height: 20%;
    background-color: rgba(0, 191, 255, 0.5);  
}

.rodape p {
    font-size: 15px;
}

.rodape:hover {
    height: 200px;
}

.rodape:hover .texto {
    display: block;
}

.rodape .texto {
    position: absolute;
    display: none;
}