<div class="row perfil-container">
    <div class="col-md-2 offset-md-1">
        <img src="{{ usuario.imagemPerfil }}" alt="" class="profile-image-circle">
    </div>
    <div class="col-md-9 p-t-2">
        <h2 class="h2-responsive">{{ usuario.email }} <button type="button" class="btn btn-info">ADICIONAR</button></h2>
        <p>{{ usuario.nome }}</p>

        <ul class="flex-menu">
            <li><strong>{{ posts.length }}</strong> posts</li>
            <li><strong>{{ amigos.length }}</strong> amigos</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 image-post" ng-repeat="each in posts">
        <div class="view overlay hm-black-light" id="img-post">
            <img src="{{ each.urlImagem }}" class="img-fluid" ng-click="teste()" alt="">
            <div class="mask flex-center">
                <ul class="flex-menu">
                    <li><p class="white-text"><i class="fa fa-comment" aria-hidden="true"></i> {{ each.comentarios.length }}</p></li>
                    <li><p class="white-text"><i class="fa fa-heart" aria-hidden="true"></i> {{ each.likes.length }}</i></p></li>
                </ul>
            </div>
        </div>
    </div>		
</div>
</div>
</main>