<div class="row perfil-container ng-cloak">
    <div class="col-md-2 offset-md-1">
        <img ng-src="{{ usuario.imagemPerfil }}" alt="" class="profile-image-circle">
    </div>
    <div class="col-md-9 p-t-2">
        <h2 class="h2-responsive">{{ usuario.nome }} 
            <button ng-cloak ng-click="enviarConvite(usuario.id)" ng-hide="isLoadingFinished() == false || isAmigos() == true || isLoadingFinished() == false || isUsuarioLogado(usuario) == true || convitePendente == true" type="button" class="btn btn-info">ADICIONAR</button>
            <button ng-cloak ng-hide="isLoadingFinished() == false || isAmigos() == false" type="button" class="btn btn-info disabled">AMIGOS <i class="fa fa-check"></i></button>
            <a ng-cloak ng-if="isLoadingFinished() == true && isUsuarioLogado(usuario) == true" class="edit-profile" data-toggle="modal" data-target="#edit"><i class="fa fa-pencil-square-o"></i></a>
            <button ng-cloak ng-hide="isLoadingFinished() == false || convitePendente == false" type="button" class="btn btn-info disabled">CONVITE ENVIADO <i class="fa fa-check"></i></button>
        </h2>
        <p>{{ usuario.email }}</p>
        <ul class="flex-menu">
            <li ng-if="isLoadingFinished()"><strong>{{ posts.length }}</strong> posts</li>
            <li ng-if="isLoadingFinished()"><strong>{{ amigos.length }}</strong> amigos</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 image-post" data-toggle="modal" data-target="#post" ng-repeat="each in posts">
        <div class="view overlay hm-black-light" ng-click="abrirPost(each)"  id="img-post">
            <img src="{{ each.urlImagem }}" class="img-fluid" alt="">
            <div class="mask flex-center">
                <ul class="flex-menu">
                    <li><p data-toggle="modal" data-target="#edit" class="white-text"><i class="fa fa-comment" aria-hidden="true"></i> {{ each.comentarios.length }}</p></li>
                    <li><p class="white-text"><i class="fa fa-heart" aria-hidden="true"></i> {{ each.likes.length }}</i></p></li>
                </ul>
            </div>
        </div>
    </div>		
</div>


<div id="post" class="modal fade sm-modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Post de {{ usuario.nome }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" ng-controller="feedController">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="card" id="card-post">
                        <div class="post-header">
                            <span class="post-img-header pull-left">
                                <img src="{{ postAtual.usuario.imagemPerfil }}" alt="User Avatar" class="rounded-circle img-fluid">
                            </span>
                            <div class="pull-left post-username-header"><p><a href="#!/perfil/{{ postAtual.usuario.id }}"><strong>{{ postAtual.usuario.nome }}</strong></a></div>
                        </div>
                        <div class="post-image" ng-dblclick="likePost(postAtual)" ng-class="{'post-liked': postCurtido(postAtual)}">
                            <img class="card-img-top" src="{{ postAtual.urlImagem }}" alt="Card image cap">
                        </div>
                        <div class="likes-number">
                            <h5><a class="text-muted">{{ postAtual.likes.length }} Likes</a></h5>
                        </div>
                        <div class="reactions">
                            <p><a><i ng-class="{ 'fa fa-heart-o fa-2x' : postCurtido(postAtual) === false, 'fa fa-heart fa-2x liked': postCurtido(postAtual) === true }" ng-click="likePost(postAtual)" aria-hidden="true"></i></a></p>
                            <p><a><i class="fa fa-comments-o fa-2x" aria-hidden="true"></i></a></p>
                        </div>
                        <div class="card-block">
                            <h4 class="card-title">{{ postAtual.titulo }}</h4>
                        </div>
                        <div class="container comentario">
                            <div>
                                <p ng-repeat="comentario in postAtual.comentarios"><a href="#!/perfil/{{ comentario.usuario.id }}"><strong>{{ comentario.usuario.nome }}</strong></a> {{ comentario.conteudo }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea ng-enter="adicionarComentario(comentarioUsuario, postAtual)" class="form-control" ng-model="comentarioUsuario.conteudo" placeholder="Digite seu comentario" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>


<div id="edit" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Seu Perfil</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" ng-controller="feedController">
            <form class="form-signin">
                <input type="text" id="inputEmail" class="form-control" placeholder="Your Name" ng-model="edit.nome" required>
                <input type="text" id="inputEmail" class="form-control" placeholder="Profile Image" ng-model="edit.imagemPerfil" required>
                <button type="button" data-dismiss="modal" ng-click="editarInformacoes(edit)" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</div>