body {
    background-image: url("../img/fundo.jpg");
}

.container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.btn-primary {
    width: 30%;
    margin-left: 35%;
}
