* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px 0px 0px;
    background-color: #fafafa;
}
.header {
    width: 100%;
    font-size: 40px;
    color: white;
    background-color: #c4170c;
    text-align: center;
}
.noticia {
    background-color: #fff;
    padding: 40px 40px 40px 40px;
    border-radius: 5px;
}
.noticia .titulo {
    color: #c4170c;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
}
.subTitulo {
    color: #bbb;
}
.cont {
    padding: 40px 40px 40px 40px;
    width: 50%;
}