* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px 0px 0px;
    background-color: #fafafa;
}
.header {
    width: 100%;
    font-size: 40px;
    color: white;
    background-color: #c4170c;
    text-align: center;
}
.container {
    float: left;
    padding: 40px 40px 40px 40px;
    width: 50%;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.noticia {
    background-color: #fff;
    padding: 40px 40px 40px 40px;
    border-radius: 5px;
}
.titulo {
    color: #c4170c;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
    display: inline-block;
}
.subTitulo {
    color: #bbb;
}
.imagemConteudo {
    height: 150px;
    width: auto;
    margin: 10px 20px;
    float: right;
}
.texto::first-letter {
    float: left;
    padding: 8px 8px 0px 0px;
    color: #c4170c;
    font-size: 50px;
}