body {
    background-image: url("img/background.jpg");
    margin: 0 auto;
}

.pokemons-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
    background-color:#EFFAB4;
    border: 0.2px solid lightgrey;
    border-radius: 30px;
}

#detalhesPokemon {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 0.2px solid lightgrey;
    border-radius: 30px;
}

.options {
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.options .form-control {
    margin-bottom: 10px;
}

.options button {
    position: relative;
    width: 50%;
    margin-left: 25%;
}

.header {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
