@import url(https://fonts.googleapis.com/css?family=Ewert);
h1 {
    color:green;
}
h3 {
    color: green;
}
p {
    text-align: left;
}
font {
    color: black;
}
#image {
    width: 1220px;
    height: 300px;
}
.topo {
    font-family: 'Ewert';font-size: 22px;
    background-image: url("img/background.jpg");
    text-align: center;
    font-size: 100px;
    color: green;
    animation: blur .75s ease-out infinite;
}
.topo:hover {
    color: red;
}
@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}

