<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/crudController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../Aula-2/css/styles.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body ng-app="crudApp">
    <nav class="navbar navbar-default header">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1>CRUD COM ANGULARJS</h1>
        </div>
      </div>
    </nav>
    <div class="container" ng-controller="crudController"> 
      <div class="panel panel-default">
        <div class="panel-heading">Trabalho AngularJS CRUD</div>
        <div class="panel-body">
          <p>CRUD Aulas</p>
        </div>  
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Aula</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="each in aulas | orderBy: 'nome'">
                    <td>{{ each.id }}
                    <td>{{ each.nome }}</td>
                    <td><button class="glyphicon glyphicon-trash" ng-click="removeAula(each)"></button></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Adicionar nova Aula   <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <form novalidate name="cadastroAula">
                        <div class="formHeader">
                            <h3>Nova aula</h3>
                        </div>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3">
                            <span class="input-group-addon" id="sizing-addon1">$</span>
                            <input type="text" ng-minlength="3" ng-maxlength="20" ng-model="aula.nome" class="form-control" placeholder="Nome Aula" aria-describedby="sizing-addon1" required />
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" ng-click="saveAula(aula)">Adicionar aula</button>
                    </form>
                </li>
            </ul>
            <hr>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Editar Aula   <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <form novalidate name="alterarAula">
                        <div class="formHeader">
                            <h3>Editar Aula</h3>
                        </div>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3">
                            <label for="sel1">Selecione a aula a alterar pelo id:</label>
                            <select class="form-control" id="sel1" ng-model="edit.id">
                                <option ng-repeat="each in aulas | orderBy: 'id'" value="{{ each.id }}">
                                    {{ each.id }}
                                </option>
                            </select>
                        </div>
                        <br>
                        <div class="input-group input-group-lg col-md-6 col-md-offset-3">
                            <span class="input-group-addon" id="sizing-addon1">$</span>
                            <input type="text" ng-minlength="3" ng-maxlength="20" ng-model="edit.nome" class="form-control" placeholder="Nome Aula" aria-describedby="sizing-addon1" required />
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" ng-click="updateAula(edit)">Alterar aula</button>
                    </form>
                </li>
            </ul>
        </div>
        <hr>
        <div class="panel-heading">Trabalho AngularJS CRUD</div>
        <div class="panel-body">
          <p>CRUD Instrutores</p>
        </div> 
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Email</th>
                    <th>Idade</th>
                    <th>Aula Ministrada</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="each in instrutores | orderBy: 'nome'">
                    <td>{{ each.id }}</td>
                    <td>{{ each.nome }}</td>
                    <td>{{ each.sobrenome }}</td>
                    <td>{{ each.email }}</td>
                    <td>{{ each.idade }}</td>
                    <td>{{ each.aula }}</td>
                    <td><button class="glyphicon glyphicon-trash" ng-click="removeInstrutor(each)"></button></td>
                </tr>
            </tbody>
        </table>
        <form novalidate name="cadastroInstrutor">
          <div class="formHeader">
            <h3>Novo Instrutor</h3>
          </div>
          <div class="input-group input-group-lg col-md-6 col-md-offset-3">
            <span class="input-group-addon" id="sizing-addon1">$</span>
            <input type="text" ng-minlength="3" ng-maxlength="20" ng-model="instrutor.nome" class="form-control" placeholder="Nome Instrutor" aria-describedby="sizing-addon1" required />
          </div>
          <br>
          <div class="input-group input-group-lg col-md-6 col-md-offset-3">
            <span class="input-group-addon" id="sizing-addon1">$</span>
            <input type="text" ng-maxlength="20" ng-model="instrutor.sobrenome" class="form-control" placeholder="Sobrenome Instrutor" aria-describedby="sizing-addon1" />
          </div>
          <br>
          <div class="input-group input-group-lg col-md-6 col-md-offset-3">
            <span class="input-group-addon" id="sizing-addon1">$</span>
            <input type="number" ng-model="instrutor.idade" class="form-control" placeholder="Idade" aria-describedby="sizing-addon1" required />
          </div>
          <br>
          <div class="input-group input-group-lg col-md-6 col-md-offset-3">
            <span class="input-group-addon" id="sizing-addon1">$</span>
            <input type="email" ng-model="instrutor.email" class="form-control" placeholder="Email" aria-describedby="sizing-addon1" required />
          </div>
          <br>
          <div class="checkbox col-md-6 col-md-offset-3">
            <label><input type="checkbox" ng-model="instrutor.deuAula">Intrutor Já deu Aula</label>
          </div>
          <br>
          <div class="input-group input-group-lg col-md-6 col-md-offset-3">
            <label for="instrutor1">Selecione a aula ministrada pelo instrutor:</label>
                <select class="form-control" id="instrutor1" ng-model="instrutor.aula">
                    <option ng-repeat="each in aulas | orderBy: 'id'" value="{{ each.id }}">
                        {{ each.nome }}
                    </option>
                </select>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" ng-click="saveInstrutor(instrutor)">Submit</button>
          <hr>
        </form>
      </div>
    </div>
  </body>
</html>