<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/crudController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../Aula-2/css/styles.css"></link>
  </head>
  <body ng-app="crudApp">
    <nav class="navbar navbar-default header">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1>CRUD COM ANGULARJS</h1>
        </div>
      </div>
    </nav>
    <div class="container" ng-controller="crudController"> 
      <div class="panel panel-default">
        <div class="panel-heading">Trabalho AngularJS CRUD</div>
        <div class="panel-body">
          <p>Realizar CRUD de aulas e instrutores</p>
        </div>  
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Aula</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="each in aulas | orderBy: 'nome'">
                    <td>{{ each.id }}
                    <td>{{ each.nome }}</td>
                    <td><button class="glyphicon glyphicon-trash" ng-click="removeAula(each)"></button></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <form novalidate name="cadastroAula">
          <div class="formHeader">
            <h3>Nova aula</h3>
          </div>
          <div class="input-group input-group-lg col-md-6 col-md-offset-3">
            <span class="input-group-addon" id="sizing-addon1">$</span>
            <input type="text" ng-minlength="3" ng-maxlength="20" ng-model="aula.nome" class="form-control" placeholder="Nome Aula" aria-describedby="sizing-addon1" required />
          </div>
          <br>
          <button type="submit" class="btn btn-primary" ng-click="saveAula(aula)">Adicionar aula</button>
        </form>
        <hr>
        <form novalidate name="alterarAula">
          <div class="formHeader">
            <h3>Editar Aula</h3>
          </div>
          <div class="input-group input-group-lg col-md-6 col-md-offset-3">
            <label for="sel1">Selecione a aula a alterar pelo id:</label>
                <select class="form-control" id="sel1" ng-model="edit.id">
                    <option ng-repeat="each in aulas | orderBy: 'id'" value="{{ each.id }}">
                        {{ each.id }}
                    </option>
                </select>
          </div>
          <br>
          <div class="input-group input-group-lg col-md-6 col-md-offset-3">
            <span class="input-group-addon" id="sizing-addon1">$</span>
            <input type="text" ng-minlength="3" ng-maxlength="20" ng-model="edit.nome" class="form-control" placeholder="Nome Aula" aria-describedby="sizing-addon1" required />
          </div>
          <br>
          <button type="submit" class="btn btn-primary" ng-click="updateAula(edit)">Alterar aula</button>
        </form>
      </div>
    </div>
  </body>
</html>