<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/controllerAula3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../Aula-2/css/styles.css"></link>
  </head>
  <body ng-app="exemplo02App">
    <nav class="navbar navbar-default header">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1>Crescer-2017/1</h1>
        </div>
      </div>
    </nav>
    <div class="container"> 
      <div class="panel panel-default"  ng-controller="exemplo02Controller">
        <div class="panel-heading">Aula 3</div>
        <div class="panel-body">
          <p>Aula sobre formulários com AngularJS</p>
        </div>  
        <ul class="list-group">
          <div class="list-group-item" ng-repeat="each in aulas | orderBy: 'numero'">
            <li>
                <div class="col-md-6">{{ each | aula }}</div>
                <div class="col-md-6">{{ each.instrutor | mascada }}</div>
            </li>
          </div>
        </ul>
        <hr>
        <form novalidate>
          <div class="formHeader">
            <h3>Novo Modulo</h3>
          </div>
          <div class="input-group input-group-lg col-md-6 col-md-offset-3">
            <span class="input-group-addon" id="sizing-addon1">$</span>
            <input type="text" ng-model="aula.instrutor" class="form-control" placeholder="Instrutor" aria-describedby="sizing-addon1" />
          </div>
          <hr>
          <div class="input-group input-group-lg col-md-6 col-md-offset-3">
            <span class="input-group-addon" id="sizing-addon1">$</span>
            <input type="text" ng-model="aula.nome" class="form-control" placeholder="Modulo" aria-describedby="sizing-addon1" />
          </div>
          <hr>
          <div class="input-group input-group-lg col-md-6 col-md-offset-3">
            <span class="input-group-addon" id="sizing-addon1">$</span>
            <input type="number" ng-model="aula.numero" class="form-control" placeholder="Numero" aria-describedby="sizing-addon1" />
          </div>
          <hr>
          <button type="submit" class="btn btn-primary" ng-click="update(aula)">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>